= form_for event, action: '/new_event' do |f|
  = f.input :title
  = f.input :url
  = f.input :starts_at, :as => :datetime
  = f.input :location
  = f.input :description, :as => :textarea
  = f.submit event.new_record? ? "Veranstaltung eintragen" : "Veranstaltung aktualisieren"
